<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  
  <!-- Homepage -->
  <link rel="stylesheet" href="/css/homeStyle.css">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tahoma" rel="stylesheet">

</head>

  <body>
    <header>
      <section class="wrapper">
        <nav class="navBar">
          <div class="navBarLeft">
            <ul>
              <li>
                <a href="/"><img src="/images/logo.png" class="logo"></a>
              </li>
              <li id="spacer"><a href=#about> About Us </a>
              </li>
              <li><a href=#benefits> Benefits </a>
              </li>
              <li><a href="/signup"> Sign Up </a>
              </li>
            </ul> 
          </div>
          <div class="navBarRight">
            <a href="/signin"> SIGN IN </a>
          </div> 
        </nav>
        <div class="landing">
          <img src="/images/landing.png" class="landImg">
          <div class="slogan">
            <h1> Too busy to cook? </h1>
            <h2> You've come to the right place. </h2>
          </div>
        </div>
      </section>
    </header>

    {{{ body }}}
    
    <footer>
      <div class="center">
        <span>
          <a href="/"><img src="/images/logo.png" id="flogo"></a>
          <small id="cta"> SIGN UP FOR AN ACCOUNT TODAY!
          </small>
          <small id="tag"> It's free, and then you can enjoy all our easy-to-prepare recipes!
          </small>
          <small id="links">
            <ul>
              <li><a href=#about> About Us </a>
              </li>
              <li><a href=#benefits> Benefits </a>
              </li>
              <li><a href="/signup"> Sign Up </a>
              </li>
              <li><a href="/signin"> Login </a>
              </li>
            </ul>
          </small>
          <small id="credit"> Photo credit: Kaboompics via Pexels
            <br> Icon credit: Rooty, iconixar, Graphic Tigers, Made x Made Icons, and Nhor via the Noun Project
            <br> Logo credit: Sariah Bunnell with the help of Icons Producer and 
             Guilherme Furtado via the Noun Project 
          </small>
        </span>
      </div>
    </footer>

  </body>
</html>
