<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
  .admin_form input::not(.ingredients_list input), .admin_form textarea {
    display: block;
  }

  .admin_form div {
    margin-bottom: 20px;
  }

  #recipes_and_ingredients {
    display: flex;
    justify-content: space-around;
  }

    #recipes_and_ingredients section {
      padding: 20px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
      align-self: flex-start;
    }

  .ingredients_list {
    padding: 10px;
    background-color: rgba(0, 255, 191, 0.8);
    border-radius: 5px;
  }

    .ingredients_list select, .ingredients_list input {
      margin-left: 5px;
      margin-right: 5px;
    }

  #recipe_instructions_div {
    margin-top: 30px;
  }

    #recipe_instructions_div textarea {
      display: block;
    }

</style>

<section id="admin_header">
  <h1>Admin Portal</h1>
  <h3>Enter new recipies or new ingredients</h3>
</section>

<section id="recipes_and_ingredients">

  <!-- New recipes -->
  <section>
    <h2>Add a new recipe</h2>
    <form class='admin_form'>
      <div>
        <label for='recipe_name'>Recipe name
          <input type='text' id='recipe_name' name='recipe_name' class="pull-right">
        </label>
      </div>

      <div>
        <label for='recipe_img'>Image url
          <input type='text' id='recipe_img' name='recipe_img'>
        </label>
      </div>

      <div>
        <label for='recipe_calories'>Total calories
          <input type='number' id='recipe_calories' name='recipe_calories' step='0.01' value='0.00' placeholder='0.00'>
        </label>
      </div>

      <!-- ingredients -->
      <div class='ingredients_list'>

        <div class="ing_div_1">
          <label for='ing_1'>Ingredient #1
            <select name='ing_1' id='ing_1'>
              <option value='1'>Green onions</option>
            </select>
          </label>

          <label for='ing_qty_1'>Quantity:
            <input type='number' name='ing_qty_1' id='ing_qty_1'>
          </label>

          <label for='ing_metric_1'>Units:
            <input type='text' name='ing_metric_1' id='ing_metric_1'>
          </label>
        </div>

      </div>
      <button id="add_ing_to_form_button">Add ingredients</button>

      <div id="recipe_instructions_div">
        <label for='recipe_instructions'>Recipe Instructions
          <textarea id='recipe_instructions' name='recipe_instructions' rows='5' cols='90'></textarea>
        </label>
      </div>

      <button>Submit</button>
    </form>
  </section>

  <!-- New ingredients -->
  <section>
    <h2>Add new ingredients</h2>
    <form class='admin_form'>
      <label for='ingredient_name'>Ingredient name
        <input type='text' id='ingredient_name' name='ingredient_name'>
      </label>

      <button>Submit</button>
    </form>
  </section>
</section>

<script>
// to add dynamic ingredients to recipes form
let ingredients = [{"id": 1, "name": "green onions"}, {"id": 2, "name": "pizza"}, {"id": 3, "name": "pepper"}];

let ing_container = $('.ingredients_list').first();
let add_ing_button = $('#add_ing_to_form_button');
let ing_count = 1;

add_ing_button.click(add_ing_to_form);

function add_ing_to_form(e) {
  // increment ingredient count
  ing_count++;

  // create container div
  let ing_div = $('<div/>', {class: 'ing_div_' + ing_count});

  // create select ingredient //
  // create label
  let ing_label = $('<label/>', {for: 'ing_' + ing_count});
  ing_label.append(document.createTextNode('Ingredient #' + ing_count));  // label text
  // create select
  let ing_select = $('<select/>', {name: 'ing_' + ing_count, id: 'ing_' + ing_count});
  // create options
  ingredients.map((ingredient) => {
    ing_select.append($('<option/>', {value: ingredient.id}).append(document.createTextNode(ingredient.name)));
  })
  // add select inside label
  ing_label.append(ing_select);

  // create quantity input //
  // create label
  let qty_label = $('<label/>', {for: 'ing_qty_' + ing_count});
  qty_label.append(document.createTextNode('Quantity: '));  // label text
  // create input
  qty_label.append($('<input/>', {type: 'number', name: 'ing_qty_' + ing_count, id: 'ing_qty_' + ing_count}));

  // create units input//
  // create label
  let unit_label = $('<label/>', {for: 'ing_metric_' + ing_count});
  unit_label.append(document.createTextNode('Units: '));
  // create input
  unit_label.append($('<input/>', {type: 'text', name: 'ing_metric_' + ing_count, id: 'ing_metric_' + ing_count}));

  // create remove button //
  let remove_button = $('<button/>', {class: 'remove_ing'});
  remove_button.append(document.createTextNode('X'));
  // bind remove event
  remove_button.click(remove_ing_from_from);

  // add ingredient select, quantity, units, and remove button to ingredient div
  ing_div.append(ing_label);
  ing_div.append(qty_label);
  ing_div.append(unit_label);
  ing_div.append(remove_button);

  // add new ingredient div to ingredients container
  ing_container.append(ing_div);

  e.preventDefault();
}

function remove_ing_from_from(e) {
  e.preventDefault();

  // this ingredient div
  let this_ing_div = $(this).parent();

  // remove this div from ingredient container
  this_ing_div.remove();
}


</script>
