<style>
  .admin_form input::not(.ingredients_list input), .admin_form textarea {
    display: block;
  }

  .admin_form div {
    margin-bottom: 20px;
  }
</style>

<h1>Admin Portal</h1>
<h3>Enter new recipies or new ingredients</h3>

<!-- New recipes -->
<section>
  <h2>Add a new recipe</h2>
  <form class='admin_form'>
    <div>
      <label for='recipe_name'>Recipe name (must not be an existing recipe in the system)
        <input type='text' id='recipe_name' name='recipe_name'>
      </label>
    </div>

    <!-- ingredients -->
    <div class='ingredients_list'>

      <div class="ing_div_1">
        <label for='ing_1'>Ingredient #1
          <select name='ing_1' id='ing_1'>
            <option value='1'>Green onions</option>
          </select>
        </label>

        <label for='ing_qty_1'>Quantity:
          <input type='number' name='ing_qty_1' id='ing_qty_1'>
        </label>

        <label for='ing_metric_1'>Units:
          <input type='text' name='ing_metric_1' id='ing_metric_1'>
        </label>
      </div>

    </div>
    <button id="add_ing_to_form_button">Add ingredients</button>

    <div>
      <label for='recipe_instructions'>Recipe Instructions
        <textarea id='recipe_instructions' name='recipe_instructions'></textarea>
      </label>
    </div>

    <button>Submit</button>
  </form>
</section>

<!-- New ingredients -->
<section>
  <h2>Add new ingredients</h2>
  <form class='admin_form'>
    <label for='ingredient_name'>Ingredient name (must not already exist in the system)
      <input type='text' id='ingredient_name' name='ingredient_name'>
    </label>

    <button>Submit</button>
  </form>
</section>

<script>
// to add dynamic ingredients to recipes form
let ingredients = [{"id": 1, "name": "green onions"}, {"id": 2, "name": "pizza"}, {"id": 3, "name": "pepper"}];

let ing_container = $('.ingredients_list').first();
let add_ing_button = $('#add_ing_to_form_button');
let ing_count = 1;

add_ing_button.click(add_ing_to_form);

function add_ing_to_form(e) {
  // increment ingredient count
  ing_count++;

  // create container div
  let ing_div = $('<div/>', {class: 'ing_div_' + ing_count});

  // create select ingredient //
  // create label
  let ing_label = $('<label/>', {for: 'ing_' + ing_count});
  ing_label.append(document.createTextNode('Ingredient #' + ing_count));  // label text
  // create select
  let ing_select = $('<select/>', {name: 'ing_' + ing_count, id: 'ing_' + ing_count});
  // create options
  ingredients.map((ingredient) => {
    ing_select.append($('<option/>', {value: ingredient.id}).append(document.createTextNode(ingredient.name)));
  })
  // add select inside label
  ing_label.append(ing_select);

  // create quantity input //
  // create label
  let qty_label = $('<label/>', {for: 'ing_qty_' + ing_count});
  qty_label.append(document.createTextNode('Quantity: '));  // label text
  // create input
  qty_label.append($('<input/>', {type: 'number', name: 'ing_qty_' + ing_count, id: 'ing_qty_' + ing_count}));

  // create units input//
  // create label
  let unit_label = $('<label/>', {for: 'ing_metric_' + ing_count});
  unit_label.append(document.createTextNode('Units: '));
  // create input
  unit_label.append($('<input/>', {type: 'text', name: 'ing_metric_' + ing_count, id: 'ing_metric_' + ing_count}));

  // add ingredient select, quantity, and units to ingredient div
  ing_div.append(ing_label);
  ing_div.append(qty_label);
  ing_div.append(unit_label);

  // add new ingredient div to ingredients container
  ing_container.append(ing_div);

  e.preventDefault();
}


// <div class="ing_div_1">
//   <label for='ing_1'>Ingredient #1
//     <select name='ing_1' id='ing_1'>
//       <option value='1'>Green onions</option>
//     </select>
//   </label>
//
//   <label for='ing_qty_1'>Quantity:
//     <input type='number' name='ing_qty_1' id='ing_qty_1'>
//   </label>
//
//   <label for='ing_metric_1'>Units
//     <input type='text' name='ing_metric_1' id='ing_metric_1'>
//   </label>
// </div>
</script>
