<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>

  #admin_container {
    background-color: rgba(206, 204, 205, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #admin_header {
    text-align: center;
    margin-bottom: 50px;
  }

</style>

<section id="admin_container">

  <section id="admin_header">
    <h1>Admin Portal</h1>
    <h3>Edit Recipe - {{recipe.recipe_name}}</h3>
  </section>

  <section>

    <div id="recipe-edit-form-div" class="container">
      <div class="row">
        <form class="col-sm-12 col-md-4 offset-md-2">
          <div class="form-group">
            <label>ID: </label>
            <input class="form-control" type="number" value="{{recipe.recipe_id}}" disabled></input>
          </div>

          <!-- recipe_id, recipe_name,recipe_img, total_calories, instructions -->
          <div class="form-group">
            <label for="rep_name">Name: </label>
            <input class="form-control" id="rep_name" value="{{recipe.recipe_name}}"></input>
          </div>

          <!-- image -->

          <!-- total_calories -->

          <!-- ingredients list !!!! this will be the complex one -->

          <!-- instructions -->

          <div class="form-group">
            <button class="btn btn-outline-success">Save Changes</button>
            <button class="btn btn-outline-danger">Delete</button>
          </div>
        </form>
      </div>
    </div><!-- recipe-edit-form-div -->

  </section>

</section> <!-- admin_container -->
