    <main>
      <div class="greeting"> 
        <h1> Welcome, {{username}}! </h1>
        <h2> Check out all your features here! </h2>
      </div>
      <div class="console">
        <div class="button">
          <a href="/recipes"> 
            <span class="dashName"> See Recipes </span>
            <img src="/icon/recipeBook.png" class="dashImg">
          </a>  
        </div>         
        <div class="button">
          <a href="/posts"> 
            <span class="dashName"> Message Board </span>
            <img src="/icon/message.png" class="dashImg">
          </a>  
        </div>
        <div class="button">
          <a href="/calories"> 
            <span class="dashName"> Track Calories </span>
            <img src="/icon/caltrack.png" class="dashImg">
          </a>  
        </div>
      </div>
    </main>
