 <main>
      <div id="about"> 
        <h2> About Us </h2>
        <p> If you're a busy student on the run, it can be difficult to find meals that are quick to make 
        and satisfying to eat. Nutrition is a core requirement of success, but how can you maintain diet 
        goals when you have very little time to research, shop, and cook? Yeti Eats to the rescue! We have
        done all the hard work for you. We provide easy-to-prepare recipes that are nutritionally desirable, 
        require no hard-to-get ingredients, and utilize no special appliances. Plus, we provide a calorie
        tracker so you can choose your maintenance goals and stick to your daily plan. Not to mention the 
        message board that allows you to socialize with other amateur chefs and swap recipes. 
        {{aboutMessage}}  
        </p>
      </div>
      <div id="benefits">
        <ul>
          <li class="icons">
            <img src="icon/timer.png" alt="timer">
            <span class="text"> Each recipe takes 30 minutes or less. Save time and enjoy!
            </span>
          </li>
          <li class="icons">
            <img src="icon/rbook.png" alt="rbook">
            <span class="text"> All recipes have a minimal ingredient list. Some have 5 or less!
            </span>
          </li>
          <li class="icons">
            <img src="icon/pot.png" alt="pot">
            <span class="text"> No special equipment is required. Some recipes use one pot to save time on clean-up!
            </span>
          </li>
          <li class="icons">
            <img src="icon/lovecook.png" alt="lovecook">
            <span class="text"> Nutrition is at the heart of each recipe. Feel good about what you eat!
            </span>
          </li>
          <li class="icons">
            <img src="icon/homeCal.png" alt="calTrack">
            <span class="text"> For added success, use the calorie calculator to track daily increments!
            </span>
          </li>
        <ul>
      </div>
    </main>
