<main>
  <div class="greeting">
    <h1> Welcome, {{username}}! </h1>
    <h2> You can get cooking right away! </h2>
  </div>
  <div class="recipe-list">
    <ul>
      {{#each getRecipe}}
      <li class="eachRecipe">
        <a href="{{this.recipeLink}}">

            <img src="{{this.img}}" class="foodImg">

          <span class="foodName"> {{this.recipeName}} </span>
        </a>
      </li>
      {{/each}}
    <ul>
  </div>
</main>
