/******Base Styles*****/
body {font-family: 'Tahoma', regular;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

/******Main******/
main { 
  background-size: cover;
  width: 100%;
}
.greeting {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Tahoma', regular;
  font-size: 1.6em;
  color: #000000;
}
.recipe-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.recipe-list li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 60px;
}
.recipe-list li a {
  text-decoration: none;
}

.foodImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.foodName {
  display: block;
  padding: 5px;
  font-family: 'Roboto Condensed', regular;
  font-size: 1.33em;
  color: grey;
  text-transform: uppercase;
}
