/******Base Styles*****/
body {font-family: 'Tahoma', regular;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

/******Main******/
main { 
  background-size: cover;
  width: 100%;
}
.greeting {
  text-align: left;
  font-family: 'Tahoma', regular;
  font-size: 1.6em;
  color: #000000;
  margin-left: 12%;
}
.console {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.button {
  width: 30%;
  height: auto;
  display: inline-block;
  margin-bottom: 60px;
}
.button a {
  text-decoration: none;
  font-family: 'Roboto Condensed', regular;
  font-size: 1.6em;
  color: #40a7cd;
}
.button a:hover {
  color: #7d3c8d; 
  text-decoration:none; 
  cursor:pointer;
}

.dashImg {
  width: 500px;
  height: auto;
  position: relative;
}
.dashName {
  padding: 10px;
  position: absolute;
  float: top-left;
}
