/******Base Styles*****/
body {font-family: 'Tahoma', regular;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

/******Main******/
main { 
  background-size: cover;
  width: 100%;
}
.greeting {
  text-align: left;
  font-family: 'Tahoma', regular;
  font-size: 1.6em;
  color: #000000;
  margin-left: 12%;
}
.console {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.button {
  width: 30%;
  height: auto;
  display: inline-block;
  margin-bottom: 60px;
}
.button a {
  text-decoration: none;
  font-family: 'Roboto Condensed', regular;
  font-size: 30px;
  color: #40a7cd;
}
.dashImg {
  position: relative;
}
.dashImg img {
  width: 500px;
  height: auto;
}
.colorChange {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.dashName {
  padding: 10px;
  position: absolute;
  float: top-left;
}
.button a:hover {
  color: #7d3c8d; 
  text-decoration:none; 
  cursor:pointer;
}
.button a:hover .colorChange {
  display: inline;
}
