/******Base Styles*****/
body {font-family: 'Tahoma', regular;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

/******Main******/
main { 
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  padding: 4%;
}
.recipe-name h1 {
  font-family: 'Tahoma', regular;
  font-size: 2.66em;
  color: #7d3c8d;
}
.ingredientList li { 
  font-family: 'Tahoma', regular;
  font-size: 2em;
  color: dark-grey;
}
.recipe-instructions p { 
  font-family: 'Tahoma', regular;
  font-size: 1.6em;
  color: grey;
}
